#submit{
    font-family:CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight:600;font-style:normal;
    font-size:17px;
    color:#000;
    text-decoration:none;
    border:2px solid #333;
    border-radius:16px;
    text-transform:uppercase;
    padding:4px 12px;
    margin:0 20px 15px;
    background-color:#fff;cursor:pointer
}

.title {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding-left: 30px;
}

.pseudonym {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding-left: 30px;
}

.story {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 12px;
    padding-left: 30px;
    word-wrap: break-word;
}

#title, #pseudonym, #story {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin: 21px 21px 12px;
    line-height: 34px;
    border-width:0px;
    border:none;
    min-width:500px;
}
